
$dark-color: #2b2d42;
$light-color: #edf6f9;
$wrong: #ef233c;
$almost-there: #ffc300;
$perfect:#3f37c9;

//responsive breakpoints
$br-mobile: 640px;
$br-tablet: 768px;
$br-desktop: 1280px;
$br-desktop-lg: 1440px;